<html>
	<head>
		 <title>InSCreen</title> 
		 <link rel=StyleSheet href="css/styles.css" type="text/css"/>
	</head>
	<body>
		<header>  
        <h1>InScreen</h1>  
    </header> 
		<nav id="nav">
			<ul>
				<li><a href="#">Send Screen</a></li>
				<li><a href="#">Create Screen</a></li>
				<li><a href="#">My Screens</a></li>
			</ul>
		</nav>
	<div id="content">	
		<div id="mainContent">
			<div id="news">
				<div class="new"> xxx has finished the Java exam</div>
				<div class="new"> yyy has finished the C# exam</div>
				<div class="new"> zzz has finished the HTML exam</div>
				<div class="new"> xxx has finished the Ruby exam</div>
			</div>
		</div>	
		<aside>  
				<h3> My screens</h3>
				<ul>
					<li>Ruby</li>
					<li>Java</li>
					<li>C#</li>
					<li>HTML</li>
				<ul> 
		</aside>  
	</div>
	</body>
</html>